<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAbHWUULOW0xF_5umDE6LQkrwFVSNsQRI</string>
	<key>GCM_SENDER_ID</key>
	<string>971550505764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wctech.dellaRoccaNFLPool</string>
	<key>PROJECT_ID</key>
	<string>dellaroccanflpool</string>
	<key>STORAGE_BUCKET</key>
	<string>dellaroccanflpool.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971550505764:ios:007519bc13bae26f9211b1</string>
</dict>
</plist>